body, p, h1, h2, a {
	font-family: arial, helvetica, sans-serif;
	color: black;
	text-decoration: none;
	padding: 0px;
	margin: 0px;
	}

/* ################################################ */
/* title contains the first header and the subtitle	*/
/*   additionally, it includes the flags used to	*/
/* 				select the language					*/
/* ################################################ */

#title {
	width: 660px;
	margin-top: 10px;
	margin-left: 10px;
	padding: 5px;
	border: 2px solid navy;
	}

h1 {
	font-size: 200%;
	font-weight: bold;
	color: navy;
	}

p.subtitle {
	font-style: italic;
	margin-left: 40px;
	}

a.imagelink {
	border-style: none;
	}

#flags {
	float: right;
}

/* ################################################ */
/*	content holds some text, two level-2-headers	*/
/*	the racelist and the upload form				*/
/* ################################################ */

#content {
	padding: 5px;
	width: 650px;
	margin-top: 20px;
	margin-left: 20px;
	}

#list {
	margin-left: 20px;
	width: 550px;
	height: 220px;
	}

h2 {
	font-size: 130%;
	font-weight: bold;
	color: navy;
	margin-top: 10px;
	margin-bottom: 20px;
	}

span.error {
	color: red;
	font-weight: bold;
	margin: 5px;
	}

a.block {
	float: left;
	cursor: pointer;
	display: block;
	width: 150px;
	border: 1px dotted black;
	margin: 1px;
	padding: 3px;
	background-color: #EFEFEF;
	}

a.block:link {}

a.block:visited {
	color: #4D4D4D;
	background-color: #FAFAFA;
	}

a.block:hover {
	color: white;
	background-color: red;
	}

a.block:active {
	background-color: navy;
	}

#foot {
	text-align: right;
	font-size: 80%;
	font-style: italic;
	width: 660px;
	margin-top: 30px;
	margin-left: 10px;
	padding: 5px;
	border: 2px solid navy;
	}