body {
  background-color: #333333;
  font-family: sans-serif;
  margin: 0em;
  padding: 0em;
}

h1, h2 { color: #EEEEEE; }
p, span, div { color: #DDDDDD; }
a { text-decoration: none; color: #3380CD; }

#container {
  width: 500px;
  margin: auto;
}
#meta h1 {
  font-size: 250%;
  margin: 0.5em 0em 0.1em 0em;
}
#meta p {
  margin: 0em 0em 0em 2em;
  padding: 0em;
  font-style: italic;
  font-size: small;
}

#language {
  padding: 0em;
  margin: 0em;
  float: right;
}

#language a {
  font-size: small;
  font-weight: bold;
}