body, p, h1, h2, h3, td, tr, input, select, a
{
	font-family: sans-serif;
	text-decoration: none;
  font-size: small;
	padding: 1px;
	margin: 0px;
}

h1 { font-size: 150%; padding: 4px; }
h2 { font-size: 125%; }
h2.popup { margin-bottom: 15px; }
h3 { font-weight: bold; }

table { border-collapse: collapse; border: 1px solid black; margin: 3px; }
table.big { border: 2px solid black; }
thead { background-color: lightgrey; text-align: center; }
tr.separator { border-top: 2px solid black; }
td { border: 1px solid gray; }
td.label { background-color: lightgrey; }
td.button:hover { background-color: rgb(200,200,250); cursor:pointer; }
td.wide { width: 25em; } /* fix opera behaviour */

input, textarea {
        border-style: hidden;
        cursor: inherit;
}

textarea.background { border: 1px solid gray; }
input.stats, input.spp, input.extras {
    text-align: center;
    width: 2em;
}

textarea.injuries, textarea.skills {
        height: 2.5em;
        font-size: smaller;
        background-color: transparent;
}
textarea.injuries { width: 7em; }
textarea.skills { width: 100%; }

/* ############################################################# */

a.plus { color: green; font-size: x-large; }
a.minus { color: red; font-size: x-large; }
a.positive { color: green; }
a.negative { color: red; }
a.neutral { color: blue; }
.element_visible { display: block; }
.element_hidden { display: none; }
input.value, input.healthy, input.injured { width: 4.5em; }
input.injured { text-decoration: line-through; }
select.position { width: 100% }
select.wide { width: 100%; }
select.fix { width: 250px; }
button.box_control { float: right; }
img.emblem { width:104px; height:140px; }

/* boxes */

#skill_box, #inj_box, #jm_box, #pic_box, #background_box
{
	position: fixed;
	z-index: 2;
	top: 100px;
	left: 100px;
	height: auto;
	padding: 5px;
	border-left: 2px solid #777777;
	border-top: 2px solid #777777;
	border-right: 3px solid #444444;
	border-bottom: 3px solid #444444;
	background-color: white;
}

#skill_box, #inj_box, #jm_box, #pic_box { width: 300px; }
#background_box { width: auto; }
